{% extends "templates/base.twig" %}

{% block title %}List{% endblock %}

{% block body %}

<div>
    <button onclick="window.location='/dashboard'">Back to Dashboard </button>
    <h2>Your books</h2>
    <table border="2">
    <tr>
        <th>Books</th>
        <th>Author</th>
        <th></th>
    </tr>

    {% for item in list %}
  
        <tr>
        <td>{{item.name}}</td>
        <td>{{item.author}}</td>
        <td><button
            id="checkin-btn" onclick="checkinId({{item.id}}, 1)"
            >Return</button></td>
        </tr>
  
    {% endfor %}

    </table>
</div>
    
{% endblock %}
