<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
    <title>Login</title>
  </head>
  <body>
    <div>
      <button onclick="window.location='/admin';">Continue as admin</button>
      <br /><br />
      <form action="/signin" method="post">
        Enrolment Number: <input type="number" name="enrolnum" /> <br>
        Password:
        <input type="password" name="pass" /> <br>
        <input type="submit" value="Log In" id="login_btn" />
      </form>
      <br /><br />
      <button onclick="window.location='/signin/signup';">Sign Up</button>
    </div>
  </body>
</html>
